@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    background: #001d3d;
}

.add {
    color: #ffd60a;
}

.List {
    background-color: #00b4d8;
}