html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #001d3d;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #ffc300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    text-align: center;
    background-color: #001d3d;
    color: #ffc300;
    font-size: 1.5em;
    padding-top: 100px;
}

.link {
    color: #fff;
}